<div id="pantalla_carga">
    <p id="explorar">Explorar</p>
    <div class="barra-fondo">
        <div id="barra-progreso"></div>
    </div>
</div>

<div id="menu_principal">
    <button id="aventura" class="menu">
        <div id="imagenAventura">
            <div id="fondoNegroAventura"></div>
        </div>
    </button>
    <button id="romantico" class="menu">
        <div id="imagenRomantico">
            <div id="fondoNegroRomantico"></div>
        </div>
    </button>
    <button id="solyplaya" class="menu">
        <div id="imagenSolYPlaya">
            <div id="fondoNegroSolYPlaya"></div>
        </div>
    </button>
</div>
