<div id="pantalla_carga">
    <p id="explorar">Explorar</p>
    <div class="barra-fondo">
        <div id="barra-progreso"></div>
    </div>
</div>

<div id="menu_principal">
    <button id="aventura" class="menu" (mouseover)="overMostrarOpcionAventura()" (mouseleave)="leaveMostrarOpcionAventura()">
        <div id="imagenAventura">
            <div id="fondoNegroAventura">
                <div class="contenidoFondoNegro">
                    <p class="textoDentroDeOpcion">AVENTURA</p>
                    <p class="textoTresOpciones">3 OPCIONES</p>
                </div>
            </div>
        </div>
    </button>
    <button id="romance" class="menu" (mouseover)="overMostrarOpcionRomance()" (mouseleave)="leaveMostrarOpcionRomance()">
        <div id="imagenRomance">
            <div id="fondoNegroRomance">
                <div class="contenidoFondoNegro">
                    <p class="textoDentroDeOpcion">ROMANCE</p>
                    <p class="textoTresOpciones">3 OPCIONES</p>
                </div>
            </div>
        </div>
    </button>
    <button id="solyplaya" class="menu" (mouseover)="overMostrarOpcionSolYPlaya()" (mouseleave)="leaveMostrarOpcionSolYPlaya()">
        <div id="imagenSolYPlaya">
            <div id="fondoNegroSolYPlaya">
                <div class="contenidoFondoNegro">
                    <p class="textoDentroDeOpcion">SOL Y PLAYA</p>
                    <p class="textoTresOpciones">3 OPCIONES</p>
                </div>
            </div>
        </div>
    </button>
    <button id="botonMenuMasOpciones">
        <img src="../../assets/img/Menu.png" alt="Menu"/>
    </button>
    <div id="panelMenuMasOpciones">
        <button id="botonCerrarPanel">
            <img src="../../assets/img/cerrar.png" alt="Cerrar">
        </button>
        <p class="explorarPanel textoDidot">EXPLORAR</p>
    </div>
</div>
